.quiz-logo {
  background-image: url('../../../../assets/quiz.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mat-card,
.mat-focus-indicator,
.mt10,
.mr20,
.ml20 {
  margin-top: 30px;
}