<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row ">
            <div class="col-md-6 offset-md-3">

                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo.jpg  " alt="" style="width:170px;height:170px">
                    </div>
                    <h1 class="text-center">Login Here</h1>

                    <form >

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input [(ngModel)]="loginData.username" name="username" required matInput
                                placeholder="Enter here">
                            <mat-hint>Enter User Name</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Password</mat-label>
                            <input [(ngModel)]="loginData.password" name="password" type="password" required matInput
                                placeholder="Enter here">
                            <mat-hint>Enter Password</mat-hint>
                        </mat-form-field>

                        <div class="container text-center">

                            <button (click)="formSubmit()" mat-raised-button color="primary" type="submit">Login</button>

                            <button (click)="clear()" class="ml10" mat-raised-button color="warn">Clear</button>

                        </div>

                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>